<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".ui.activities.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Conectar"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.Mapview"
            android:exported="false">



        </activity>
        <activity
            android:name=".ui.activities.Forgotpassword"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OTP"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegistrationDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegistrationHome"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DriverjobAddress"
            android:exported="false" />
        <activity
            android:name=".ui.activities.Welcome"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.activities.LoginemailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginphoneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGRQavtVfIlnBuSkELe98R2MFjXQdnLRc" />

    </application>

</manifest>